<div class="container">
    <div class="row">
        <form action="/signup" method="post">
        <input type="text" name="firstname" id="firstname" placeholder="firstname">
        <input type="text" name="lastname" id="lastname" placeholder="lastname">
        <input type="text" name="emailid" id="emailid" placeholder="emailid">
        <input type="text" name="mobilenumber" id="mobilenumber" placeholder="mobilenumber">
        <input type="text" name="password" id="password" placeholder="password">
        <input type="text" name="confirmpassword" id="confirmpassword" placeholder="confirmpassword">
        <button type="submit">Click Here</button>
        </form>
    </div>
</div>